@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  min-height: 100vh;
  color: rgb(242, 236, 236);
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  &::-webkit-scrollbar {
    display: none; 
}}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

main {
  flex-basis: 51%; 
}


input {
  position: absolute;
  width: 400px;
  height: 44px;
  top: 0;
  font-size: 1.8rem;
  font-weight: 200;
  border: 1px solid gray;
  border-radius: 16px;
  border-color: #b0afae;
  background-color: rgba(170, 167, 167, 0.6);
  color: white;
  text-align: left;
  padding: 0 15px;
  margin-top: 2rem;
  padding-bottom: 4px;
}

.formClass {
  flex-basis: 100%;
  text-align: center;
  p {
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #242424;
  }
}

.formBlock {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh; 
}

input:focus { 
  outline: none;
  border-color: white;
  box-shadow: 0 0 8px #c9c9c9;
  background-color: rgba(170, 167, 167, 0.4);
}

textarea:focus {
  background-color: red;
}

input:se {
  border-color: rgb(208, 208, 208);
  background-color: rgba(170, 167, 167, 0.4);
}

::placeholder {
  color: white;
}

.searchButton {
  position: absolute;
  top: 0;
  margin-top: 2rem;
  margin-left: 355px;
  border-radius: 0 16px 16px 0;
  border: none;
  border-left: 2px solid white;
  background-color: rgba(170, 167, 167, 0.4);
  height: 44px;
  width: 3.3em;
}

.searchButton:hover{
  cursor: pointer;
  background-color: rgba(224, 220, 220, 0.4);
}
.searchButton:active {
  transform: translateY(2px)
}
.flexContainer {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.allDataShow {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  justify-content: left;
  text-align: center;
  border-radius: 25px;
  border: 1px solid;
  margin-top: 4rem;
  //background-color: rgba(170, 167, 167, 0.6);
  background-color: rgba(170, 167, 167, 0.25);
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 2px #535353;
}
.city {
  display: inline-block;
  text-align: left;
  font-size: 3rem;
  text-decoration: underline 3px;
  margin-left: 15px; 
}

.country {
  display: inline-block;
  font-size: 3rem;
  text-align: left;
  margin-left: 15px;
  background-color: rgba(240, 152, 25, 0.8);
  border-radius: 10px;
}
.temperature {
  flex-basis: 100%;
  font-size: 6rem;
  text-shadow: 0 0 3px black;
}

.clouds {
  flex-basis: 100%;
  text-align: right;
  font-size: 2.2rem;   
  margin-right: 15px; 
}
.clouds_details {
  display: flex;
  align-items: center;
  justify-content: right;
}



#MdLocation {
  padding-top: 5px;
}

.localTime {
  flex-basis: 100%;
  font-size: 1.8rem;
  font-weight: 200;
  margin-top: 10px;
  color: white; 
  div {
    display: inline-block;
    background-color: rgba(170, 167, 167, 0.6);
    text-shadow: 2px 2px 4px #242424;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
  }
}
.airPressure {
  flex-basis: 100%;
  font-size: 2.2rem;
  text-align: right; 
  margin-right: 15px;
}

.footer {
  flex-basis: 40%; 
  height: 12%;
  margin-top: 10px;
}

.extraData {
  text-shadow: 0 0 1px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 7rem;
  background-color: rgba(170, 167, 167, 0.5);
  color: white;
  border-radius: 25px; 
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-shadow: 1px 1px 4px #242424; 
}

.feelsLike {
  margin: 0;
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right: 3px solid;
  div {
    flex-basis: 100%;
  }
}
#temperatureHigh {
  position: relative;
  transform: translate(-6px, 4px);
}

.humidityClass {
  margin: 0;
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right: 3px solid;
  div {
    flex-basis: 100%;
  }
}
#fillDroplet {
  position: relative;
  transform: translate(-8px, 3px);
}

.windSpeed {
  margin: 0;
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
  div {
    flex-basis: 100%;
  }
}

#tailWind {
  position: relative;
  transform: translate(-7px, 4px);
}

.notExist {
  font-size: 1.3rem;
  color: #f0173f;
  margin-top: 15vh;  
}

.forecastDataHide {
  opacity: 0;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 0.4s ease-in-out; 
}

.forecast {
  opacity: 1;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 0.6s ease-in-out; 
  text-shadow: 2px 2px 4px #242424;
  h3 {
    flex-basis: 100%;
    margin-bottom: 10px;
    text-decoration: underline;
  }
}
.forecastHeader {
  flex-basis: 100%;
}

.daysOfTheWeek {
  font-size: 1.3rem;
  display: flex;
  flex-basis: 53%;
  justify-content: space-between;
}

.dayWeek {
  padding: 1rem;
  background-color: rgba(167, 169, 170, 0.4);
  //background-color: rgba(170, 167, 167, 0.25);
  border-radius: 20px;
  text-align: center; 
  outline: rgb(198, 198, 198) 1px solid;
  backdrop-filter: blur(2px);
}

.dayWeek:hover {
  outline: white 1.5px solid;
  box-shadow: 0 0 2px #c9c9c9;
  background-image: linear-gradient(45deg, rgba(255, 81, 47, 0.8) 0%, rgba(240, 152, 25, 0.8)  51%, rgba(255, 81, 47, 0.8)  100%);
}

.forecastButton {
  margin: 10px;
  padding: 13px 27px;
  width: 167px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 600;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.forecastButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.forecastButton:active {
  transform: scale(0.95);
}

@import "./responsive";