@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  min-height: 100vh;
  color: rgb(242, 236, 236);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.App::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

main {
  flex-basis: 51%;
}

input {
  position: absolute;
  width: 400px;
  height: 44px;
  top: 0;
  font-size: 1.8rem;
  font-weight: 200;
  border: 1px solid gray;
  border-radius: 16px;
  border-color: #b0afae;
  background-color: rgba(170, 167, 167, 0.6);
  color: white;
  text-align: left;
  padding: 0 15px;
  margin-top: 2rem;
  padding-bottom: 4px;
}

.formClass {
  flex-basis: 100%;
  text-align: center;
}
.formClass p {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #242424;
}

.formBlock {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

input:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 8px #c9c9c9;
  background-color: rgba(170, 167, 167, 0.4);
}

textarea:focus {
  background-color: red;
}

input:se {
  border-color: rgb(208, 208, 208);
  background-color: rgba(170, 167, 167, 0.4);
}

::-moz-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.searchButton {
  position: absolute;
  top: 0;
  margin-top: 2rem;
  margin-left: 355px;
  border-radius: 0 16px 16px 0;
  border: none;
  border-left: 2px solid white;
  background-color: rgba(170, 167, 167, 0.4);
  height: 44px;
  width: 3.3em;
}

.searchButton:hover {
  cursor: pointer;
  background-color: rgba(224, 220, 220, 0.4);
}

.searchButton:active {
  transform: translateY(2px);
}

.flexContainer {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.allDataShow {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  justify-content: left;
  text-align: center;
  border-radius: 25px;
  border: 1px solid;
  margin-top: 4rem;
  background-color: rgba(170, 167, 167, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  text-shadow: 1px 1px 2px #535353;
}

.city {
  display: inline-block;
  text-align: left;
  font-size: 3rem;
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  margin-left: 15px;
}

.country {
  display: inline-block;
  font-size: 3rem;
  text-align: left;
  margin-left: 15px;
  background-color: rgba(240, 152, 25, 0.8);
  border-radius: 10px;
}

.temperature {
  flex-basis: 100%;
  font-size: 6rem;
  text-shadow: 0 0 3px black;
}

.clouds {
  flex-basis: 100%;
  text-align: right;
  font-size: 2.2rem;
  margin-right: 15px;
}

.clouds_details {
  display: flex;
  align-items: center;
  justify-content: right;
}

#MdLocation {
  padding-top: 5px;
}

.localTime {
  flex-basis: 100%;
  font-size: 1.8rem;
  font-weight: 200;
  margin-top: 10px;
  color: white;
}
.localTime div {
  display: inline-block;
  background-color: rgba(170, 167, 167, 0.6);
  text-shadow: 2px 2px 4px #242424;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}

.airPressure {
  flex-basis: 100%;
  font-size: 2.2rem;
  text-align: right;
  margin-right: 15px;
}

.footer {
  flex-basis: 40%;
  height: 12%;
  margin-top: 10px;
}

.extraData {
  text-shadow: 0 0 1px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 7rem;
  background-color: rgba(170, 167, 167, 0.5);
  color: white;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-shadow: 1px 1px 4px #242424;
}

.feelsLike {
  margin: 0;
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right: 3px solid;
}
.feelsLike div {
  flex-basis: 100%;
}

#temperatureHigh {
  position: relative;
  transform: translate(-6px, 4px);
}

.humidityClass {
  margin: 0;
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right: 3px solid;
}
.humidityClass div {
  flex-basis: 100%;
}

#fillDroplet {
  position: relative;
  transform: translate(-8px, 3px);
}

.windSpeed {
  margin: 0;
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.windSpeed div {
  flex-basis: 100%;
}

#tailWind {
  position: relative;
  transform: translate(-7px, 4px);
}

.notExist {
  font-size: 1.3rem;
  color: #f0173f;
  margin-top: 15vh;
}

.forecastDataHide {
  opacity: 0;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
}

.forecast {
  opacity: 1;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 0.6s ease-in-out;
  text-shadow: 2px 2px 4px #242424;
}
.forecast h3 {
  flex-basis: 100%;
  margin-bottom: 10px;
  text-decoration: underline;
}

.forecastHeader {
  flex-basis: 100%;
}

.daysOfTheWeek {
  font-size: 1.3rem;
  display: flex;
  flex-basis: 53%;
  justify-content: space-between;
}

.dayWeek {
  padding: 1rem;
  background-color: rgba(167, 169, 170, 0.4);
  border-radius: 20px;
  text-align: center;
  outline: rgb(198, 198, 198) 1px solid;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.dayWeek:hover {
  outline: white 1.5px solid;
  box-shadow: 0 0 2px #c9c9c9;
  background-image: linear-gradient(45deg, rgba(255, 81, 47, 0.8) 0%, rgba(240, 152, 25, 0.8) 51%, rgba(255, 81, 47, 0.8) 100%);
}

.forecastButton {
  margin: 10px;
  padding: 13px 27px;
  width: 167px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 600;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.forecastButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.forecastButton:active {
  transform: scale(0.95);
}

.d-column-1 {
  flex-basis: 8.33%;
}

.d-column-2 {
  flex-basis: 16.66%;
}

.d-column-3 {
  flex-basis: 25%;
}

.d-column-4 {
  flex-basis: 33.33%;
}

.d-column-5 {
  flex-basis: 41.66%;
}

.d-column-6 {
  flex-basis: 50%;
}

.d-column-7 {
  flex-basis: 58.33%;
}

.d-column-8 {
  flex-basis: 66.66%;
}

.d-column-9 {
  flex-basis: 75%;
}

.d-column-10 {
  flex-basis: 83.33%;
}

.d-column-11 {
  flex-basis: 91.66%;
}

.d-column-12 {
  flex-basis: 100%;
}

@media (max-width: 1700px) {
  .t-column-1 {
    flex-basis: 8.33%;
  }
  .t-column-2 {
    flex-basis: 16.66%;
  }
  .t-column-3 {
    flex-basis: 25%;
  }
  .t-column-4 {
    flex-basis: 33.33%;
  }
  .t-column-5 {
    flex-basis: 41.66%;
  }
  .t-column-6 {
    flex-basis: 50%;
  }
  .t-column-7 {
    flex-basis: 58.33%;
  }
  .t-column-8 {
    flex-basis: 66.66%;
  }
  .t-column-9 {
    flex-basis: 75%;
  }
  .t-column-10 {
    flex-basis: 83.33%;
  }
  .t-column-11 {
    flex-basis: 91.66%;
  }
  .t-column-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 1400px) {
  .s-column-1 {
    flex-basis: 8.33%;
  }
  .s-column-2 {
    flex-basis: 16.66%;
  }
  .s-column-3 {
    flex-basis: 25%;
  }
  .s-column-4 {
    flex-basis: 33.33%;
  }
  .s-column-5 {
    flex-basis: 41.66%;
  }
  .s-column-6 {
    flex-basis: 50%;
  }
  .s-column-7 {
    flex-basis: 58.33%;
  }
  .s-column-8 {
    flex-basis: 66.66%;
  }
  .s-column-9 {
    flex-basis: 75%;
  }
  .s-column-10 {
    flex-basis: 83.33%;
  }
  .s-column-11 {
    flex-basis: 91.66%;
  }
  .s-column-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 1250px) {
  .p-column-1 {
    flex-basis: 8.33%;
  }
  .p-column-2 {
    flex-basis: 16.66%;
  }
  .p-column-3 {
    flex-basis: 25%;
  }
  .p-column-4 {
    flex-basis: 33.33%;
  }
  .p-column-5 {
    flex-basis: 41.66%;
  }
  .p-column-6 {
    flex-basis: 50%;
  }
  .p-column-7 {
    flex-basis: 58.33%;
  }
  .p-column-8 {
    flex-basis: 66.66%;
  }
  .p-column-9 {
    flex-basis: 75%;
  }
  .p-column-10 {
    flex-basis: 83.33%;
  }
  .p-column-11 {
    flex-basis: 91.66%;
  }
  .p-column-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 1020px) {
  .l-column-1 {
    flex-basis: 8.33%;
  }
  .l-column-2 {
    flex-basis: 16.66%;
  }
  .l-column-3 {
    flex-basis: 25%;
  }
  .l-column-4 {
    flex-basis: 33.33%;
  }
  .l-column-5 {
    flex-basis: 41.66%;
  }
  .l-column-6 {
    flex-basis: 50%;
  }
  .l-column-7 {
    flex-basis: 58.33%;
  }
  .l-column-8 {
    flex-basis: 66.66%;
  }
  .l-column-9 {
    flex-basis: 75%;
  }
  .l-column-10 {
    flex-basis: 83.33%;
  }
  .l-column-11 {
    flex-basis: 91.66%;
  }
  .l-column-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 905px) {
  .k-column-1 {
    flex-basis: 8.33%;
  }
  .k-column-2 {
    flex-basis: 16.66%;
  }
  .k-column-3 {
    flex-basis: 25%;
  }
  .k-column-4 {
    flex-basis: 33.33%;
  }
  .k-column-5 {
    flex-basis: 41.66%;
  }
  .k-column-6 {
    flex-basis: 50%;
  }
  .k-column-7 {
    flex-basis: 58.33%;
  }
  .k-column-8 {
    flex-basis: 66.66%;
  }
  .k-column-9 {
    flex-basis: 75%;
  }
  .k-column-10 {
    flex-basis: 83.33%;
  }
  .k-column-11 {
    flex-basis: 91.66%;
  }
  .k-column-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 725px) {
  .c-column-1 {
    flex-basis: 8.33%;
  }
  .c-column-2 {
    flex-basis: 16.66%;
  }
  .c-column-3 {
    flex-basis: 25%;
  }
  .c-column-4 {
    flex-basis: 33.33%;
  }
  .c-column-5 {
    flex-basis: 41.66%;
  }
  .c-column-6 {
    flex-basis: 50%;
  }
  .c-column-7 {
    flex-basis: 58.33%;
  }
  .c-column-8 {
    flex-basis: 66.66%;
  }
  .c-column-9 {
    flex-basis: 75%;
  }
  .c-column-10 {
    flex-basis: 83.33%;
  }
  .c-column-11 {
    flex-basis: 91.66%;
  }
  .c-column-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 650px) {
  .v-column-1 {
    flex-basis: 8.33%;
  }
  .v-column-2 {
    flex-basis: 16.66%;
  }
  .v-column-3 {
    flex-basis: 25%;
  }
  .v-column-4 {
    flex-basis: 33.33%;
  }
  .v-column-5 {
    flex-basis: 41.66%;
  }
  .v-column-6 {
    flex-basis: 50%;
  }
  .v-column-7 {
    flex-basis: 58.33%;
  }
  .v-column-8 {
    flex-basis: 66.66%;
  }
  .v-column-9 {
    flex-basis: 75%;
  }
  .v-column-10 {
    flex-basis: 83.33%;
  }
  .v-column-11 {
    flex-basis: 91.66%;
  }
  .v-column-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 1700px) {
  .App {
    height: 100vh;
  }
  .footer {
    margin-bottom: 10px;
    height: 15vh;
  }
}
@media (max-width: 1400px) {
  .forecast, .forecastDataHide {
    flex-basis: 65%;
  }
}
@media (max-width: 930px) {
  .forecast, .forecastDataHide {
    flex-basis: 75%;
  }
}
@media (max-width: 840px) {
  .forecast, .forecastDataHide {
    flex-basis: 80%;
  }
}
@media (max-width: 805px) {
  .forecast, .forecastDataHide {
    flex-basis: 90%;
  }
}
@media (max-width: 700px) {
  .forecast, .forecastDataHide {
    flex-basis: 95%;
  }
}
@media (max-width: 650px) {
  .App {
    height: 100vh;
  }
  .localTime {
    font-size: 1.5rem;
  }
  .temperature {
    font-size: 4.8rem;
  }
  .clouds {
    font-size: 2.2rem;
  }
  .daysOfTheWeek {
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
  .dayWeek {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    margin-top: 5px;
    outline: white 1px solid;
    padding: 0px;
  }
  .extraData {
    margin-bottom: 10px;
  }
}
@media (max-width: 530px) {
  .App {
    height: 100vh;
  }
  .localTime {
    font-size: 1.2rem;
  }
  .extraData {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  #tailWind, #fillDroplet, #temperatureHigh {
    width: 25px;
  }
  .city, .country {
    font-size: 2.6rem;
  }
  #MdLocation {
    width: 45px;
    padding-top: 10px;
  }
  .formClass p {
    font-size: 1.6rem;
  }
}
@media (max-width: 445px) {
  .App {
    height: 100vh;
  }
  #field {
    width: 280px;
  }
  .searchButton {
    margin-left: 235px;
  }
  .temperature {
    font-size: 4rem;
  }
  .city, .country, .airPressure {
    font-size: 2rem;
  }
  .clouds {
    font-size: 1.6rem;
  }
  .country {
    margin-top: 7px;
    padding: 5px;
  }
  #MdLocation {
    width: 25px;
  }
  .extraData {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
    margin-bottom: 10px;
  }
  .localTime {
    flex-basis: 90%;
  }
  .footer {
    height: 20%;
  }
  .feelsLike, .humidityClass, .windSpeed {
    flex-wrap: nowrap;
    flex-basis: 100%;
    border-right: none;
    flex-direction: row-reverse;
    text-align: left;
    margin-left: 30px;
    margin-top: 2px;
  }
  .feelsLike div div {
    margin-right: 0px;
  }
  .humidityClass div div {
    margin-right: 0px;
  }
  .windSpeed div div {
    margin-right: 0px;
  }
}
@media (max-width: 355px) {
  .App {
    height: 100vh;
  }
  .localTime {
    flex-basis: 90%;
  }
  .clouds {
    font-size: 1.4rem;
  }
  .extraData {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=app.css.map */